body {
    background-color: #f8f6f6;
    color:#8F5528;
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;}
h1, h2 {
    color:#8F5528;
    font-family: "Fjalla One";}

/* Navigation Header*/
nav {
    background-color: #cfe8e8;
    padding: 30px 10px 0px 10px;
    box-shadow: 0 6px 5px -5px #3b656c;
}

.location { /* "Order Today" button*/
    margin-top: 50px; margin-bottom: 50px;
    border-radius: 10px;
    background-color: #aa2200; /*#E97D4E*/; 
    padding: 10px;
    color:#FFF5CB;}

.location:hover {
    background-color: #7d240e;}

    /* Might not need bottom margin if fix cart png */

a { /*border: 3px solid #5cb793;    BORDER*/
    text-decoration: none;
    color: #8F5528;}

.logo {
    padding-left: 20px;
    padding-top: 20px;
    width: 100px;
     /*border: 3px solid red;   BORDER*/
  }

  #companyname {
    font-family: "Grand Hotel", cursive;
    font-size: 3em;
    margin-left: 20px;}

.fullnav {
    display: flex;
    /* border: 3px solid #5cb793;   BORDER*/
    justify-content: flex-end;}

#desktop-cart {
    height: 40%;
    margin-left: 20px;
} /*FIX this shopping cart */

.index {
    margin-left: auto; /*Logo goes left*/
    margin-top: 50px; margin-bottom: 50px; /*Home moves down*/
    padding: 10px;} 
.aboutus {
    margin: 50px 20px 50px 20px;/*About Us moves down*/
    padding: 10px;}
.shoppingcart {margin-top: 50px;/*moves down BUT puts huge space on buttom :(*/}

/* a:hover {
    background-color: #598893;
    border-radius: 10px;} */
/*End Navigation*/


/*Footer*/
footer {
    background-color: #cfe8e8;
    box-shadow: 0 -1px 4px 1px #6d8b91;}
.footernav {
    padding: 20px 20px 20px 40px;}
.fullfooter {display:flex;}
#socials {
    margin-left: auto;
    padding: 20px 40px 20px 20px;}
.fa-brands:hover {color:#663b1b;}

/*Add more space between "Home" and "About Us"*/

#copyright {
    margin: 75px 0px 0px 0px;}
/*End Footer*/


/*Home Page*/

#bannerheader {
    text-align: right;
    font-size: 4em;
    font-family: Fjalla One;
    margin-right: 300px;}

.allbuttons:hover {
    background-color: #7d240e;}

.allbuttons {
    border-radius: 10px;
    border: none;
    color:#FFF5CB;
    background-color: #aa2200;
    padding: 15px 32px;
    cursor: pointer;

}

#locationsbutton {
    float: right;
    margin-right: 300px;
}

#branddescription {
    margin: 0px 700px 60px 40px;
    min-width: 500px;}
.homeheader {
    margin-left: 100px;
    font-family: Fjalla One;
    font-size: 3em;}
#galleryheader {
    text-align:center;
    margin-top: 50px;}

.sand {
    margin: 20px;}

#promotion1 {
    display:flex;
    flex: wrap;
    margin: 0px 100px 40px 100px;
    padding-right: 100px;}
#promotion2 {
    display:flex;
    flex: wrap;
    margin: 0px 100px 40px 100px;}
.promotionstyle {
    border-radius: 20px;
    box-shadow: 0 6px 5px -5px #3b656c
}

#description1 {padding: 50px 0px 50px 50px;}
#description2 {padding: 50px 50px 50px 0px}

#gallery {
    display:flex;
    margin: 20px 200px 20px 200px;
    justify-content:center;
}

#topbanner {
    background-image: linear-gradient(#bed783, #f8f6f6);
    padding: 40px;
}


/*About Page*/
.basicmargins {margin:50px;}
#aboutheader {text-align: center;}
#aboutimages {text-align: center;}
#aboutparagraph {
    margin: 30px 100px 50px 100px;
}

/*Order Page*/
#sandwichgrid {
    display: flex;}
#sandwichorder {
    margin: 20px;
}

#add-to-order {
    border-radius: 10px;
    border: none;
    color:#FFF5CB;
    background-color: #aa2200;
    padding: 10px;
    cursor: pointer;
}
#add-to-order:hover {
    background-color: #7d240e;}

#selectedingredients{
    height: 100px;}
#allingredients {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 10px;
}

.ingredientbutton {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10px;
    background-color:#1E5809;
    color:#FFF5CB;
    padding: 10px;
    border-radius: 10px;
    
}
.ingredientname {
    margin-left: 20px;
    margin-right: 20px;
}
.ingredientheading {text-align:center;}
.ingredientsection {
    margin: 20px;
}

/* Map Page */
#location{
    display: flex;
}
#mapright {
    margin: 50px;}
#nextbutton {
    border-radius: 10px;
    border: none;
    color:#FFF5CB;
    background-color: #aa2200;
    padding: 5px 20px 5px 20px;
    margin-left: 10px;
    cursor: pointer;
}
#nextbutton:hover {
    background-color: #7d240e;}



/* Shopping Cart Page */
.cartmargins {
    margin: 60px 35% 60px 35%;
    width: 250px;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px
}
#cartitems {padding-bottom: 50px;}
#carthr {
    border: 1px solid #8F5528;
}
#orderspace {margin-bottom: 50px;}

/*Order Placed Page*/
#placedtext {
    text-align: center;
    margin: 200px 100px 200px 100px;}
#logoanimation /*Bottom bread*/{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: bottombread 2s ease-out forwards;

  }
  
  @keyframes bottombread {
    0%   { top: 60px; }
    100% { top: 280px;}
  }
#logoanimation2 /*lettuce*/{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: lettuce 2s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: both;
    
    }
    @keyframes lettuce {
        0%   { top: 60px; opacity: 0; }
        100% { top: 280px; opacity: 1;}
      }
#logoanimation3 /*tomato*/{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: tomato 2s ease-out forwards;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: both;
    }
    @keyframes tomato {
        0%   { top: 60px; opacity: 0; }
        100% { top: 280px; opacity: 1;}
      }
    
#logoanimation4 /*topbread*/{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: topbread 2s ease-out forwards;
    animation-delay: 3s;
    opacity: 0;
    animation-fill-mode: both;
    }
    @keyframes topbread {
        0%   { top: 60px; opacity: 0; }
        100% { top: 280px; opacity: 1;}
        }
#logoanimation5 /*toothpick*/{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: toothpick 1s ease-out forwards;
    animation-delay: 4s;
    opacity: 0;
    animation-fill-mode: both;
    }
    @keyframes toothpick {
        0%   { top: 60px; opacity: 0; }
        100% { top: 280px; opacity: 1;}
        }
#logoanimation6 /*olive*/{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: olive 0.5s ease-out forwards;
    animation-delay: 5s;
    opacity: 0;
    animation-fill-mode: both;
    }
    @keyframes olive {
        0%   { top: 60px; opacity: 0; }
        100% { top: 280px; opacity: 1;}
        }


/* Checkout Page */
form {
    margin-bottom: 50px;
}
input {margin-bottom: 20px;}
select {margin-bottom: 20px;}
#checkoutcard {
    width: 250px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: white;
    padding: 30px 20px 40px 90px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px;
}
#checkoutbutton {justify-content: right;}

/*Responsive Web Design*/
#mobilenav {display: none;}
#descriptionalt {display: none;}


/* Phones */
@media only screen and (max-width: 800px) {
    body {width: 100%;}
    .basicmargins {margin:30px;}
    /* Home Page */
        /* Navigation */
        nav {padding: 5px;}
        .mobile-link {
            display: block;
        }

        .fullnav {display:none;}
        #mobilenav {
            display: flex;
        }
        .homeheader {
            padding: none;
            margin: none;}
        #mobile-link-group {
            margin: 10px;
            float: left;
            }
        .smalllogo {
            width: 15%;
            float: left;
            }
        #mobile-cart {
            padding-top: 20px;
            width: 70%;
            float: right;
        }
        #break {display: none;}
        
        #smalllocation {     
            border-radius: 10px;
            border: none;
            color:#FFF5CB;
            background-color: #aa2200;;
            cursor: pointer;
            padding: 5px;}

        /* Footer */
        .footernav {
            padding: 10px;}
        .fullfooter {display:flex;}
        #socials {
            margin-left: auto;
            padding: 10px;}

        /*Banner*/
            #topbanner {
                display: block;}
            #branddescription {
                margin: 0px;
                min-width: 80%;
                display: block;}

            .locationsbutton2 {
                display: block;
                float: none;
                border-radius: 10px;
                border: none;
                color:#FFF5CB;
                background-color: #aa2200;
                padding: 15px 32px;
                font-size: 16px;
                cursor: pointer;}
            #locationsbutton {
                float: none;
                margin: auto;
            }
            #bannerheader {
                text-align: left;
                font-size: 2em;
                margin: 0px 0px 20px 0px;}
            #branddescription {
                margin-top: 20px;
                width: 90%;}

        /*Promotions*/
        .description {padding: 10px}
        #promotion1 {
            display:block;
            margin: 30px;
            padding-right: 0px;
            margin: 40px;}
        #promotion2 {
            display:block;
            margin: 30px;}
        #description1 {
            padding: 0px;
            width: 100%;
            }
        .allbuttons {
            max-width: 50%;
            display: block;
            float: none;
            border-radius: 10px;
            margin-right: 0px;
            border: none;
            color:#FFF5CB;
            background-color: #aa2200;
            padding: 15px;
            cursor: pointer;}

        #description2 {display: none;}
        #descriptionalt {
            display:block;
            width: 90%;
            margin-bottom: 100px;}
        .shadowbox {display: none;}
        #redeem {
            float: left;}
        
        /* Gallery */
        .homeheader {
            margin-left: 20px;
            text-align: left;
            font-size: 2em;
            
        }
        #galleryheader {
            text-align: left;
        }
        #gallery {
            display: block;
            margin: 20px;
            margin-left: 10px;
            
        }
        .sand {
            width: 90%;
            margin: none;
            padding: none;}

        /* Shopping Cart Page */
        .cartmargins {
            margin: 50px;
        }
        #cartitems {padding-bottom: 50px;}
        #carthr {
            border: 1px solid #8F5528;
        }
        /* Map Page */
        #location{
            display: block; }

        /* Order Page */

        #sandwichgrid {
            display: block;}
     
        #allingredients {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .ingredientsection {
            margin: 5px;
        }
        /* Checkout Page */

    #checkoutcard {
        margin: auto;
        width: auto;
        background-color: white;
        padding: 30px 20px 40px 70px;
        border-radius: 20px;
        box-shadow: 3px 3px 3px;
    }
        /*About Page*/
    #aboutparagraph {
        margin: auto;
        margin-bottom: 20px;
}
    /* Map Page */
    #location{
        display: block;
        margin: auto;
        padding: auto;
    }
    #mapright {
        padding: auto;}
    #map {width: auto;}

/* Shopping Cart Page */
    .cartmargins {
        margin: 30px;
        width: auto;
        background-color: white;
        padding: 50px;
        border-radius: 20px;
        box-shadow: 3px 3px 3px
    }
/* Order Placed Page */

  @keyframes bottombread {
    0%   { top: 60px; }
    100% { top: 200px;}
  }

    @keyframes lettuce {
        0%   { top: 60px; }
        100% { top: 200px; opacity: 1;}
        }

    @keyframes tomato {
        0%   { top: 60px; opacity: 0; }
        100% { top: 200px; opacity: 1;}
        }


    @keyframes topbread {
        0%   { top: 60px; opacity: 0; }
        100% { top: 200px; opacity: 1;}
        }

    @keyframes toothpick {
        0%   { top: 60px; opacity: 0; }
        100% { top: 200px; opacity: 1;}
        }

    @keyframes olive {
        0%   { top: 60px; opacity: 0; }
        100% { top: 200px; opacity: 1;}
        }
}

/* JavaScript */
.fa-solid.fa-circle-minus {display: none;}
.fa-solid.fa-circle-minus:hover {
    color: #c7bc8f;
    cursor: pointer;
    }
.fa-solid.fa-circle-plus:hover {
    color: #c7bc8f;
    cursor: pointer;
    }
.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
  }

