body {background-color: #e2e4e6; color: #598b8f;}
a:link {color: #a889c7;}
h1, h2 {color:#eb9c8c;}
nav {background-color:#a1c6b3; padding: 10px; margin-bottom:30px;}
.button:hover {background-color:#b9e2cd;}
nav a {color:#358575;}

body {font-family: Verdana, sans-serif;}
.evenrow {background-color:#ced5ce;}
h1 {font-size: 3 em}
h2 {font-size: 1 em}

